<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:tcp://localhost/camel" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>
    
    <bean id="routeBuilder" class="net.hxc1.camel.MyRouteBuilder"/>
    
    <camel:camelContext xmlns="http://camel.apache.org/schema/spring">
	   	<camel:routeBuilder ref="routeBuilder" />
		<camel:route>
			<camel:from uri="timer://bar?period=5s" />
			<camel:log message="other route" />
		</camel:route>
	    	
    </camel:camelContext>
           
</beans>